.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #00CCFF;
    color: white;
    font-weight: 600;
    position: fixed;
  }

  .toolbar img {
    margin: 0 16px;
  }
header span {
  padding: 20px;
}

header span a {
  text-decoration:none;
  color:white;
}