<!-- <app-loader></app-loader> -->
<img src="assets/loader.gif" *ngIf="showSpinner" style="margin-left: 40%; z-index: 1;">

<div infiniteScroll 
    [infiniteScrollDistance]="0"
    [infiniteScrollThrottle]="50" 
    (scrolled)="onScroll()">
    
    <div class="container">    
        <div class="row">
          <div *ngFor="let doc of apilist "  class="col-lg-4 col-md-6 col-sm-12 col-xs-12  mb-2" >
    
            <mat-card class="api-card" *ngIf="doc">
                
                <mat-card-header> 
                        <div mat-card-avatar class="icon-image"></div>             	
                        <mat-card-title class="title">{{doc.title}}</mat-card-title>
                </mat-card-header>
    
                <mat-card-content>
                  <p>
                    {{doc.description}}                  
                  </p>
                </mat-card-content>
    
                  <mat-card-actions class="api-actions">                     
                    <ul>
                       <li>
                            <a [routerLink]="[introLink]" >
                              Intro			            
                                <i class="fa fa-chevron-right"></i>
                            </a> 
                        </li>
                        <li>
                          <a [routerLink]="[guideLink]">
                            Guidence
                            <i class="fa fa-chevron-right"></i>
                          </a>
                        </li>
                        <li>
                            <a [routerLink]="[referenceLink]">
                              Reference
                              <i class="fa fa-chevron-right"></i>
                            </a> 
                        </li>
                    </ul>
                                              
                  </mat-card-actions>      
            </mat-card>
    
          </div>
        </div>
    </div>
    

</div>
<div *ngIf="finished">
    End of database
</div>


