<div class="card-container">
      <div class="row">
        <div *ngFor="let doc of apilist" class="col-md-3" >

          <mat-card class="">
              <mat-card-header>
                <mat-card-title>{{doc.title}}</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p>
                  {{doc.description}}
                  
                </p>
              </mat-card-content>  
          </mat-card>

        </div>
      </div>
</div>
 
 <!-- <div *ngFor="let doc of apilist">

 	<span>{{doc.title}}</span>
 	<span>{{doc.description}}</span>

 </div>
 -->
